<div class="container-fluid" >




    <h2 class="text-center main-header">LimeTray Galactica</h2>


    <!--// listing for larger screens-->

    <table class="table table-responsive table-striped table-hover hidden-xs hidden-sm">
        <thead>
           <tr>
               <th>ORDER ID</th>
               <th>CREATED AT</th>
               <th>CUSTOMER</th>
               <th>AMOUNT</th>
               <th>STATE</th>
               <th>ACTION</th>
           </tr>
        </thead>
        <tbody>

        <tr ng-repeat="order in orders.list">
            <td>{{order.orderId}}</td>
            <td>{{order.createdAt | date : 'dd-MM-yyyy hh:mm a'}}</td>
            <td>{{order.customer.name}}</td>
            <td>{{order.amount}}</td>

            <td>{{order.state}}</td>
            <td> <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detailsModal" ng-mousedown="orders.getDetails(order)">View Details</button></td>
        </tr>
        </tbody>
    </table>


    <!--//listing for mobile-->
    <div class="visible-xs visible-sm">
        <div class="row mobile-card" ng-repeat="order in orders.list">
            <div class="col-sm-12 text-center" >

                <div class="col-md-12 text-right "><span class="label label-default" ng-class="{'bg-green': order.state == 'DELIVERED', 'bg-orange': order.state == 'DISPATCHED'}">{{order.state}}</span></div>
                <div class="col-sm-12 col-xs-12 text-left">
                    Order Id: {{order.orderId}}
                </div>
                <div class="col-sm-12 col-xs-12 text-left">

                    Order Id: {{order.createdAt | date : 'dd-MM-yyyy hh:mm a'}}
                </div>
                <div class="col-sm-12 col-xs-12 text-left">
                    Customer Name: {{order.customer.name}}
                </div>
                <div class="col-sm-12 col-xs-12 ">

                    <div class="text-left col-xs-6 col-sm-6" style="padding:0">Amount: {{order.amount}}</div>
                    <div class="text-right" data-toggle="modal" data-target="#detailsModal" ng-click="orders.getDetails(order)">
                        <button class="btn btn-sm btn-default">Fetch Details</button>
                    </div>



                </div>


            </div>
        </div>
    </div>

    <!--Order Details Modal -->
    <div class="modal fade" id="detailsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title">
                        <div >Order Details: </div>
                        <div > {{orders.activeOrder.orderId}}</div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12" style="height:100%;" id="map">
                    </div>

                    <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
                        <div class="col-md-12">
                            <h3>Customer Details</h3>


                        </div>
                        <div class="col-md-12">
                          <h4> Name:</h4>
                            <h5>{{orders.activeOrder.customer.name}}</h5>
                        </div>
                        <div class="col-md-12">
                            <h4>Phone: </h4>
                            <h5>{{orders.activeOrder.customer.phone}}</h5>
                        </div>
                        <div class="col-md-12">
                            <h4>Address:</h4>
                            <h5>{{ orders.activeOrder.customer.address}}</h5>
                        </div>

                    </div>

                    </div>
                </div>

            </div>

        </div>
    </div>



</div>
