<div class="container-fluid">


    <h2 class="text-center main-header">LimeTray Galactica</h2>


    <!--// listing for larger screens-->

    <div class="col-md-6">
        <span class="alert alert-success" ng-show="updateMessage">{{updateMessage}}</span>
    </div>

    <div class="col-md-2">
        <select style="color:#000000" ng-init="state = ''" ng-model="state" class="form-control"
                ng-change="orders.getOrders('','','',state)">
            <option value="">ALL</option>
            <option value="ACCEPTED">ACCEPTED</option>
            <option value="DISPATCHED">DISPATCHED</option>
            <option value="DELIVERED">DELIVERED</option>
        </select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Search Address, Order Id Or Name" ng-model="search"
               ng-change="orders.getOrders(0,50,search)">
    </div>


    <table class="table table-responsive table-striped table-hover hidden-xs hidden-sm">
        <thead>
        <tr>
            <th>ORDER ID</th>
            <th>CREATED AT</th>
            <th>CUSTOMER</th>
            <th>AMOUNT</th>
            <th>STATE</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="order in orders.list">
            <td>{{order.orderId}}</td>
            <td>{{order.createdAt | date : 'dd-MM-yyyy hh:mm a'}}</td>
            <td>{{order.customer.name}}</td>
            <td>{{order.amount}}</td>

            <td>
                <span ng-hide="showList" style="cursor:pointer" ng-click="showList = !showList"><i
                        style="margin:0 4px;font-size:10px;" class="glyphicon glyphicon-edit
"></i> {{order.state}} </span>
                <select style="color:#000000" ng-show="showList" ng-model="order.state"
                        ng-change="showList=!showList;orders.updateStatus(order)">
                    <option value="ACCEPTED">ACCEPTED</option>
                    <option value="DISPATCHED">DISPATCHED</option>
                    <option value="DELIVERED">DELIVERED</option>
                </select></td>
            <td>
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detailsModal"
                        ng-mousedown="orders.getDetails(order)">View Details
                </button>
            </td>
        </tr>
        </tbody>
    </table>


    <!--//listing for mobile-->
    <div class="visible-xs visible-sm">
        <div class="row mobile-card" ng-repeat="order in orders.list">
            <div class="col-sm-12 text-center">

                <div class="col-md-12 text-right "><span class="label label-default"
                                                         ng-class="{'bg-green': order.state == 'DELIVERED', 'bg-orange': order.state == 'DISPATCHED'}">{{order.state}}</span>
                </div>
                <div class="col-sm-12 col-xs-12 text-left">
                    Order Id: {{order.orderId}}
                </div>
                <div class="col-sm-12 col-xs-12 text-left">

                    Order Id: {{order.createdAt | date : 'dd-MM-yyyy hh:mm a'}}
                </div>
                <div class="col-sm-12 col-xs-12 text-left">
                    Customer Name: {{order.customer.name}}
                </div>
                <div class="col-sm-12 col-xs-12 ">

                    <div class="text-left col-xs-6 col-sm-6" style="padding:0">Amount: {{order.amount}}</div>
                    <div class="text-right" data-toggle="modal" data-target="#detailsModal"
                         ng-click="orders.getDetails(order)">
                        <button class="btn btn-sm btn-default">Fetch Details</button>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <!--Order Details Modal -->

</div>


</div>
